/*
 *= require helpers/utilities
 *= require shared/home_button
 */

@import "config";
@import "helpers/mixins";
@import "shared/clipboard_button";

.button-label {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 64px;
  width: 100%;
  color: #eee;
  font-size: 14px;
  font-family: "JustTheWayYouAre", sans-serif;
  letter-spacing: 1px;
}

#home-button {
  text-decoration: none;
  text-align: center;
}

#rasterization-notification {
  position: absolute;
  left: $center-x - 300px;
  top: $center-y - 50px;
  width: 560px;
  padding: 10px 20px;
  background: rgba(0,0,0,0.8);
  text-align: center;

  @include border-radius(18px);

  p {
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: "JustTheWayYouAre", sans-serif;
  }
}

#draw-info {
  position: absolute;
  left: $center-x - 250px;
  top: $center-y - 50px;
  width: 500px;
  font-size: 30px;
  color: #ddd;
  text-align: center;
  font-family: "JustTheWayYouAre", sans-serif;

  img {
    width: 397px;
    height: 82px;
  }
}

#edit-info {
  position: absolute;
  left: $center-x - 300px;
  top: $topbar-height + 15px;
  width: 600px;
  font-size: 18px;
  color: #ddd;
  text-align: center;
  font-family: "JustTheWayYouAre", sans-serif;
}

#build-screen-view {
  #clipboard {
    top: 195px;
    left: 385px;
    color: #111;
  }
}

#authorization-view-buttons {
  position: relative;
  top: -46px;
  left: 20px;
  width: 100px;
  padding-left: 138px;
  padding-right: 110px;

  @include rotate(-11deg);

  &.wide {
    width: 210px;
    padding-right: 0px;
  }

  button {
    @include clipboard-button;
    float: left;

    &.authorization-cancel-button {
      margin-left: 12px;
    }
  }

  &:after {
    clear: both;
    content: '.';
    display: block;
    visibility: hidden;
    height: 1px;
    line-height: 1px;
  }
}

#publication-view {
  @include widget-base;
  font-size: 20px;

  h2 {
    @include widget-headline;
  }

  label {
    font-size: 26px;
  }

  p.explanation {
    font-size: 20px;
    color: #1e1e1e;
    display: block;
    margin: 37px 0 25px;
    line-height: 33px;
  }

  div.input-field {
    margin-bottom: 18px;
  }

  div.form {
    width: 272px;
    height: 34px;
    display: inline-block;
    border-bottom: 2px dashed black;

    input {
      display: inline-block;
      width: 100%;
      background-color: transparent;
      border: none;
      font-family: inherit;
      font-size: 25px;
      position: relative;
      top: -5px;

      &:focus {
        outline: none;
      }
    }
  }
  button {
    @include clipboard-button;
    float: right;
    margin-left: 10px;
  }
}

#toolbar {
  text-align: center;
  margin-top: 22px;

  button {
    position: relative;
    display: inline-block;
    border: none;
    width: 64px;
    height: 64px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center -64px;
    cursor: pointer;
    text-align: center;

    .button-label {
      top: 60px;
    }

    &[disabled="disabled"] {
      background-position-y: -128px;
      cursor: default;
    }
    &.active {
      background-position-y: 0;
      cursor: default;
    }
  }

  .dashed-line {
    display: inline-block;
    height: 64px;
    width: 53px;
    margin: 0 -5px;
    background: image-url("views/build/dashed-line.png") center 30px no-repeat;
  }

  #draw-button {
    background-image: image-url("views/build/draw-button.png");
  }
  #edit-button {
    background-image: image-url("views/build/edit-button.png");
  }
  #testdrive-button {
    background-image: image-url("views/build/test-button.png");
  }
  #publish-button {
    background-image: image-url("views/build/publish-button.png");
  }
}
