/*
 *= require helpers/utilities 
 *= require shared/home_button
 */

@import "config";

#clear-track-button, #test-track-button {
  position: absolute;
  bottom: $border-padding;
  cursor: pointer;
}

#clear-track-button {
  width: 163px;
  height: 66px;
  background-image: image-url("buttons/clear.png");
  background-repeat: no-repeat;
  
  right: $border-padding;
 
}

#test-track-button {
  width: 146px;
  height: 66px;
  background-image: image-url("buttons/test.png");
  background-repeat: no-repeat;

  left: $border-padding;
}

#rasterizing-notification {
  position: absolute;
  left: 300px;
  top: 250px;
  padding: 60px;
  background: rgba(0,0,0,0.7);
  -webkit-box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.7);
  -moz-box-shadow:    0px 0px 11px rgba(0, 0, 0, 0.7);
  box-shadow:         0px 0px 11px rgba(0, 0, 0, 0.7);

  p {
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-size: 30px;
    text-shadow: 0 0 15px #EEE;
  }
}

#toolbar {
  position: absolute;
  top: 25px;
  left: 320px;
  width: 400px;
  text-align: center;

  div {
    display: inline-block;
    border: 1px solid white;
    border-radius: 3px;
    margin: 3px;
    padding: 7px 9px;
    font-size: 13px;
    font-weight: bold;
    background-color: green;
    color: white;
    cursor: pointer;
  }

  div.disabled {
    background-color: gray;
    cursor: default;
  }

  div.active { background-color: purple; }
}