/*
 *= require helpers/utilities
 */

#home-navigation {
  position: absolute;
  top: 253px;
  left: 392px;
  
  li {
    margin-bottom: 30px;
  }
}

#register-button {
  width: 206px;
  height: 66px;
  background-image: image-url("buttons/register.png");
  background-repeat: no-repeat;
}

#tracks-button {
  width: 177px;
  height: 66px;
  background-image: image-url("buttons/tracks.png");
  background-repeat: no-repeat;
}

#build-button {
  width: 151px;
  height: 69px;
  background-image: image-url("buttons/build.png");
  background-repeat: no-repeat;
}

#top-curve {
  position: absolute;
  top: 0;
  right: 0;
}

#bottom-curve {
  position: absolute;
  bottom: 0;
  left: 0;
}
