/*
 *= require helpers/utilities
 *= require shared/fonts
 */

@import "helpers/mixins";

h1 {
  overflow: hidden;
  text-indent: -10000px;
  display: block;
  width: 326px;
  height: 415px;
  background-image: image-url("views/home/logo-chain.png");
  background-repeat: no-repeat;
  margin-left: 42px;
}

#home-navigation {
  position: absolute;
  top: 225px;
  left: 48px;
  list-style: none;
  z-index: 100;
}

#quickplay-button {
  width: 264px;
  height: 66px;
  background-image: image-url("views/home/quick-play.png");
  background-repeat: no-repeat;
 
  &:hover {
    background-position: 0 -67px;
  }
}


#tracks-button {
  width: 264px;
  height: 76px;
  margin-top: 10px;
  background-image: image-url("views/home/choose-track.png");
  background-repeat: no-repeat;
  
  &:hover {
    background-position: 0 -74px;
  }
}

#build-button {
  width: 264px;
  height: 68px;
  margin-top: 5px;
  background-image: image-url("views/home/create-track.png");
  background-repeat: no-repeat;
  
  &:hover {
    background-position: 0 -67px;
  }
}

#register-button {
  width: 206px;
  height: 66px;
  background-image: image-url("buttons/register.png");
  background-repeat: no-repeat;
}

#clipboard {
  position: absolute;
  top: 160px;
  left: 360px;
  width: 711px;
  height: 858px;
  background-image: image-url("shared/clipboard.png");
  background-repeat: no-repeat;
  font-family: "JustTheWayYouAre", sans-serif;
}

#top-curve {
  position: absolute;
  top: 0;
  right: 0;
}

#bottom-curve {
  position: absolute;
  bottom: -50px;
  left: 0;
}

#login-widget-view {
  button {
    width: 100px;
    font-weight: bold;
  }

  #login-form {
    margin: 20px;
  }

  #not-yet-registered {
    padding: 20px;
    background: rgba(253, 255, 252, 0.36);
    border-radius: 0 0 10px 10px;
  }
}

#signup-widget-view {
  @include rotate(-11deg);
  
  padding-left: 120px;
  padding-top: 125px;
  
  h2 {
    font-family: "JustTheWayYouAre", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #193773;
    
    @include rotate(3deg);
  }
  
  .explanation {
    line-height: 33px;
    font-size: 20px;
    color: #1e1e1e;
    width: 400px;
    display: block;
  }
  
  label {
    font-family: inherit;
    font-size: 25px;
    display: inline-block;
    padding-top: 5px;
  }
  
  div {
    display: inline-block;
    width: 200px;
    height: 34px;
    border-bottom: 2px dashed black;
  }
  
  input {
    display: inline-block;
    width: 200px;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: 25px;
    position: relative;
    top: -5px;
  }
}

#profile-widget-view {
  
  @include rotate(-11deg);
  
  padding-left: 120px;
  padding-top: 105px;
  
  width: 420px;
  
  h3 {
    font-family: "JustTheWayYouAre", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #193773;
  }
  
  h4 {
    font-size: 30px;
    font-weight: bold;
    clear: both;
  }
  
  button {
    @include rotate(11deg);
    
    width: 148px;
    height: 170px;
    position: absolute;
    top: 160px;
    left: -350px;
    z-index: 0;
    
    background-image: image-url("views/home/logout.png");
    background-repeat: no-repeat;
    background-color: transparent;
    
    border: none;
    text-indent: -10000px;
    overflow: hidden;

    &:hover {
      background-position: 0 -174px
    }
  }
}

#user-highscores {
  width: 420px;
  margin-top: 60px;

  font-size: 26px;
  line-height: 31px;

  #highscore-table {
    width: 100%;
    
    td:nth-child(3) {
      text-align: right;
    }
  }
}