/*
 *= require helpers/utilities
 *= require shared/fonts
 */

@import "helpers/mixins";
@import "shared/clipboard_button";

#home-screen-view {
  h1 {
    overflow: hidden;
    text-indent: -10000px;
    display: block;
    width: 326px;
    height: 415px;
    background-image: image-url("views/home/logo-chain.png");
    background-repeat: no-repeat;
    margin-left: 42px;
  }

  #home-navigation {
    position: absolute;
    top: 225px;
    left: 48px;
    list-style: none;
    z-index: 100;
  }

  #quickplay-button {
    width: 264px;
    height: 66px;
    background-image: image-url("views/home/quick-play.png");
    background-repeat: no-repeat;

    &:hover, &:focus { background-position: 0 -67px; }
  }

  #tracks-button {
    width: 264px;
    height: 76px;
    margin-top: 10px;
    background-image: image-url("views/home/choose-track.png");
    background-repeat: no-repeat;

    &:hover, &:focus { background-position: 0 -74px; }
  }

  #build-button {
    width: 264px;
    height: 68px;
    margin-top: 5px;
    background-image: image-url("views/home/create-track.png");
    background-repeat: no-repeat;

    &:hover, &:focus { background-position: 0 -67px; }
  }

  #clipboard {
    position: absolute;
    top: 132px;
    left: 360px;
    width: 711px;
    height: 858px;
    background-image: image-url("shared/clipboard.png");
    background-repeat: no-repeat;
    font-family: "JustTheWayYouAre", sans-serif;
    z-index: 99;
  }
}

#top-curve {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

#bottom-curve {
  position: absolute;
  bottom: -50px;
  left: 0;
  z-index: 0;
}

#menu-widget-view {

  @include widget-base;

  h2 {
    @include widget-headline;
  }

  div {
    width: 220px;
    padding: 28px 0;
    font-size: 24px;
    margin-top: 60px;
    background-image: image-url("views/home/lines.png");
    background-position: top right;
    background-repeat: no-repeat;
  }

  li {
    list-style: none;
  }

  button {
    @include clipboard-button;

    position: absolute;

    &.loginButton {
      top: 210px;
      left: 350px;
    }

    &.signUpButton {
      top: 275px;
      left: 350px;
    }
  }

  p {
    font-size: 21px;
    line-height: 31px;
    font-weight: normal;
    margin-top: 52px;
  }
}

#login-widget-view {

  @include widget-base;

  h2 {
    @include widget-headline;
    margin-bottom: 33px;
  }

  .explanation {
    line-height: 33px;
    font-size: 20px;
    color: #1e1e1e;
    display: block;
    margin: 34px 0 28px;
  }

  label {
    font-size: 26px;
  }

  div.input-field {
    margin-top: 28px;
  }

  div.form {
    width: 284px;
    height: 34px;
    display: inline-block;
    border-bottom: 2px dashed black;

    input {
      display: inline-block;
      width: 100%;
      background-color: transparent;
      border: none;
      font-family: inherit;
      font-size: 25px;
      position: relative;
      top: -5px;

      &:focus {
        outline: none;
      }
    }
  }

  .form-buttons {
    margin-top: 18px;
    @include clearfix;
  }

  button {
    @include clipboard-button;
    float: right;
    margin-left: 10px;
  }
}

#signup-widget-view {
  @include widget-base;

  h2 {
    @include widget-headline;
  }

  .explanation {
    line-height: 33px;
    font-size: 20px;
    color: #1e1e1e;
    display: block;
    margin: 37px 0 25px;
  }

  label {
    font-family: inherit;
    font-size: 25px;
    display: inline-block;
    padding-top: 5px;
  }

  div.input-field {
    margin-top: 9px;
  }

  div.form {
    display: inline-block;
    width: 284px;
    height: 34px;
    border-bottom: 2px dashed black;

    &.email {
      width: 332px;
    }

    input {
      display: inline-block;
      width: 100%;
      background-color: transparent;
      border: none;
      font-family: inherit;
      font-size: 25px;
      position: relative;
      top: -5px;

      &:focus {
        outline: none;
      }
    }
  }

  .form-buttons { @include clearfix; }
  button {
    @include clipboard-button;
    float: right;
    margin-left: 10px;
  }
}


#profile-widget-view {

  @include widget-base;

  padding-top: 120px;

  h3 {
    @include widget-headline;
  }

  h4 {
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
    clear: both;
  }

  button {
    @include rotate(11deg);

    width: 148px;
    height: 167px;
    position: absolute;
    top: 200px;
    left: -350px;
    cursor: pointer;

    background-image: image-url("views/home/logout.png");
    background-repeat: no-repeat;
    background-color: transparent;

    border: none;
    text-indent: -10000px;
    overflow: hidden;

    &:hover, &:focus { background-position: 0 -174px }
  }

  #user-highscores {
    width: 430px;
    height: 250px;

    margin-top: 60px;

    font-size: 26px;

    overflow: hidden;

    a, a:link, a:visited, a:active {
      text-decoration: none;
      color: #79151D;

      &:hover, &:focus {
        cursor: pointer;
        color: #0E2D6F;
      }
    }

    line-height: 31px;

    #highscore-scroller {
      position: absolute;
      z-index: 1;
    	width: 430px;
    	height: 256px;
    }

    #highscore-table {
      width: 410px;
      font-size: 21px;

      td:nth-child(1) {
        min-width: 45px;
      }

      td:nth-child(2) {
        max-width: 240px;

        .track-title {
          height: 32px;
          overflow: hidden;
        }
        word-break: break-word;
      }

      td:nth-child(3) {
        text-align: right;
      }
    }
  }
}
