/*
 *= require helpers/utilities
 *= require helpers/font_ds_digital_42
 *= require helpers/font_ds_digital_22
 *= require shared/home_button
 */

@import "config";

#play-screen-view {
  overflow: hidden;
  height: 768px;
}

.topbar {
  background-image: image-url("shared/top-bar.jpg");
  width: 1024px;
  height: 106px;
  position: absolute;
  top: 0;
  left: 0;
}

#retry-button {
  width: 163px;
  height: 66px;
  background-image: image-url("buttons/retry.png");
  background-repeat: no-repeat;
  
  position: absolute;
  top: $border-top-padding;
  right: $border-padding;

  cursor: pointer;
}

#clock {
  width: 255px;
  height: 86px;
  background-image: image-url("views/play/clock-background.png");
  background-repeat: no-repeat;
  
  position: absolute;
  top: $border-top-padding - 5px;
  left: $center-x - 127px;
}

#clock-minutes, #clock-dot-one, #clock-seconds, #clock-dot-two, #clock-milliseconds {
  position: absolute;
  top: 29px;
}

#clock-minutes { left: 74px; }
#clock-dot-one { left: 112px; }
#clock-seconds { left: 127px; }
#clock-dot-two { left: 165px; }
#clock-milliseconds { left: 181px; }

#clock-lap {
  position: absolute;
  top: 40px;
  left: 31px;
}

#result-overlay {
  position: absolute; 
  top: 180px; 
  left: 150px; 
  color: white; 
  font-size: 32px; 
  font-family: sans-serif; 
  background-color: rgba(0, 0, 0, 0.7); 
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.7); 
  width: 700px;
  padding: 30px;
  
  ul {
    list-style: none;
  }

  #laptimes, #highscores {
    float: left;
    width: 300px;
    margin-right: 30px;
  }

  #highscore-table {
    border-spacing: 0;

    td, th {
      padding: 5px;
    }
  }
}

#countdown {
  color: white;
  font-size: 270px;
  position: absolute;
  top: 210px;
  left: 300px;
  font-weight: bold;
  font-family: sans-serif;
  width: 400px;
  text-align: center;
  text-shadow: 0 0 15px #eee;
}

#car {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;

  #car-graphic {
    position: absolute;
    top: -33px;
    left: -20px;
    width: 40px;
    height: 66px;
    background-image: image-url("car/lamborghini.png");
    background-repeat: no-repeat;
  }
}