@import "config";
@import "helpers/mixins";

#tracks-screen-view {
  .topbar {
    position: relative;
  }

  #tracks-create-track-button {
    width: 212px;
    height: 64px;

    position: absolute;
    top: 22px;
    right: 200px;

    background-image: image-url("shared/buttons/create_track_button.png");
    background-repeat: no-repeat;

    &:hover, &:focus { background-position: 0 -64px; }
  }

  #tracks-quickplay-button {
    width: 163px;
    height: 64px;

    position: absolute;
    top: 22px;
    right: 22px;

    background-image: image-url("shared/buttons/quickplay.png");
    background-repeat: no-repeat;

    &:hover, &:focus { background-position: 0 -63.5px; }
  }
}

#tracks-screen-content-view {
  width: $screen-width;
  height: 662px;

  #tracks-header {
    margin-top: 80px;
    width: $screen-width;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;

    h2 {
      font-family: "SansitaOneRegular";
      font-size: 48px;
      text-shadow: 0 0 10px #000;
      margin-bottom: 10px;
    }

    #tracks-page-indicator {
      font-family: "SansitaOneRegular";
      font-size: 20px;
      text-shadow: 0 0 10px #000;
    }
  }

  #tracks-info {
    position: absolute;
    width: 100%;
    top: 700px;
    padding-bottom: 20px;

    text-align: center;
    font-family: "JustTheWayYouAre", sans-serif;
    color: rgba(255,255,255,0.4);
    font-size: 20px;

    background-image: image-url("views/tracks/tracks-info-arrow.png");
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  h3 {
    font-family: "JustTheWayYouAre", sans-serif;
    color: white;
    font-size: 24px;
    text-shadow: 0px 0px 10px #333;
  }

  h4 {
    font-family: "JustTheWayYouAre", sans-serif;
    color: #ccc;
    font-size: 20px;
  }

  .loading {
    .spinner { height: 50px; }

    font-family: "JustTheWayYouAre", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 10px #333;
    line-height: 64px;

    width: 240px;
    margin: 120px auto;
    text-align: center;
    opacity: .4;
  }

  .track {
    float: left;
    width: 33%;
    position: relative;
    @include clearfix;

    .track-container {
      width: 256px;
      margin: 0 auto;
    }

    h3 {
      width: 285px;
      text-align: center;
      word-wrap:break-word;
      margin: 20px 20px 0 20px;
      line-height: 1.3;
    }

    h4 {
      width: 285px;
      text-align: center;
      word-wrap:break-word;
      margin: 20px 20px 0 20px;
    }
  }

  #swiper {
    position: absolute;
    top: 300px;
    left: 25px;
    width: 976px;
    height: 500px;
    overflow: hidden;

    .page { width: 100%; }
  }
}
