#tracks-screen-view {
  .topbar {
    position: relative;
  }
}

#tracks-screen-content-view {
  width: 1024px;
  height: 662px;
  
  #tracks-view {
    width: 100%;
    height: 100%;
  }
  
  #tracks-header {
    margin-top: 80px;
    width: 1024px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    
    h2 {
      font-family: "SansitaOneRegular";
      font-size: 48px;
      text-shadow: 0 0 10px #000;
      margin-bottom: 10px;
    }
    
    #tracks-page-indicator {
      font-family: "SansitaOneRegular";
      font-size: 20px;
      text-shadow: 0 0 10px #000;
    }
  }
  
  #tracks-info {
    position: absolute;
    width: 100%;
    top: 700px;
    padding-bottom: 20px;
    
    text-align: center;
    font-family: "JustTheWayYouAre", sans-serif;
    color: RGBA(255,255,255,0.3);
    font-size: 20px;
    
    background-image: image-url("views/tracks/tracks_info_arrow.png");
    background-repeat: no-repeat;
    background-position: bottom center;
  }
}

.track {
  float: left;
  width: 33%;
  position: relative;
  
  h3 {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -70px;
    font-family: "JustTheWayYouAre", sans-serif;
    color: white;
    font-size: 24px;
    text-shadow: 0px 0px 10px #333;
  }
  
  h4 {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -80px;
    font-family: "JustTheWayYouAre", sans-serif;
    color: #ccc;
    font-size: 20px;
  }
}

#tracks-quickplay-button {
  width: 163px;
  height: 64px;
  
  position: absolute;
  top: 22px;
  right: 22px;
  
  background-image: image-url("shared/buttons/quickplay.png");
  background-repeat: no-repeat;
 
  &:hover {
    background-position: 0 -63.5px;
  }
}

.track-container {
  width: 256px;
  margin: 0 auto;
}

#swiper {
  position: absolute;
  top: 300px;
  left: 25px;
  width: 976px;
  height: 600px;
  overflow: hidden;
}

.page {
  width: 100%;

  & > .ember-view {
    width: 100%
  }
}