$letter-22-width: 12px;
$letter-22-height: 17px;
$letter-22-kerning: 1px;

/*
 * Each letter of a string of DS-DIGITAL with size 41 point.
 */
.ds-digital-22 {
  display: block;
  width: $letter-22-width;
  height: $letter-22-height;
  background-image: image-url("views/play/font-ds-digital-22.png");
  background-repeat: no-repeat;
  position: absolute;
}

/*
 * Positions each char in a string.
 */
@mixin letter-position-22($position) {
  left: ($letter-22-width + $letter-22-kerning) * $position;
}

.ds-digital-22.first  { @include letter-position-22(0); }
.ds-digital-22.second { @include letter-position-22(1); }
.ds-digital-22.third  { @include letter-position-22(2); }

/*
 * Defines what letter is shown.
 */
.ds-digital-22.letter-slash { background-position-y: -$letter-22-height * 10; }
.ds-digital-22.letter-0   { background-position-y: -$letter-22-height * 9;  }
.ds-digital-22.letter-1   { background-position-y: -$letter-22-height * 8;  }
.ds-digital-22.letter-2   { background-position-y: -$letter-22-height * 7;  }
.ds-digital-22.letter-3   { background-position-y: -$letter-22-height * 6;  }
.ds-digital-22.letter-4   { background-position-y: -$letter-22-height * 5;  }
.ds-digital-22.letter-5   { background-position-y: -$letter-22-height * 4;  }
.ds-digital-22.letter-6   { background-position-y: -$letter-22-height * 3;  }
.ds-digital-22.letter-7   { background-position-y: -$letter-22-height * 2;  }
.ds-digital-22.letter-8   { background-position-y: -$letter-22-height * 1;  }
.ds-digital-22.letter-9   { background-position-y: -$letter-22-height * 0;  }


