
@mixin rotate($angle) {
  -webkit-transform: rotate($angle);
     -moz-transform: rotate($angle);
       -o-transform: rotate($angle);
          transform: rotate($angle);
}

@mixin shadow($x-offset, $y-offset, $blur, $radius, $color) {
  -webkit-box-shadow: $x-offset $y-offset $blur $radius $color;
     -moz-box-shadow: $x-offset $y-offset $blur $radius $color;
          box-shadow: $x-offset $y-offset $blur $radius $color;
}

@mixin transform-origin($x, $y) {
  -webkit-transform-origin: $x $y;
     -moz-transform-origin: $x $y;
          transform-origin: $x $y;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@mixin backface-visibility($value) {
  -webkit-backface-visibility: $value;
     -moz-backface-visibility: $value;
          backface-visibility: $value;
}

@mixin widget-base {
  @include rotate(-11deg);
  @include transform-origin(210px, 244px);

  padding-left: 120px;
  padding-top: 138px;

  font-weight: bold;

  width: 420px;
}

@mixin widget-headline {
  @include rotate(3deg);

  font-family: "JustTheWayYouAre", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #193773;
}
