* {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
}

// exclude input elements in forms

input {
  -webkit-user-select: auto;
  -webkit-touch-callout: auto;
  -moz-user-select: auto;
}