
form {
  position: absolute;
  top: 240px;
  left: 370px;
  padding: 20px;

  > div {
    margin-bottom: 1em;
  }

  label {
    display: block;
    margin-bottom: 0.3em;
    color: white;
  }

  input {
    font-size: 15px;
    padding: 5px;

    &[type=submit] {
      border: 1px solid white;
      cursor: pointer;
    }
  }

  background: rgba(0,0,0,0.7);
  -webkit-box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.7);
  -moz-box-shadow:    0px 0px 11px rgba(0, 0, 0, 0.7);
  box-shadow:         0px 0px 11px rgba(0, 0, 0, 0.7);
}