
input {
  font-size: 15px;
  padding: 5px;
  margin-bottom: 1em;
  display: block;
}

button {
  border: 1px solid #666;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 5px;
  background-color: #eee;
}

button:hover {
  background-color: white;
}

button[disabled="disabled"]:hover {
  background-color: #eee;
}