
@import "config";

#home-button {
  position: absolute;
  width: 68px;
  height: 63px;
  background-image: image-url("shared/buttons/home-button.png");
  background-repeat: no-repeat;
  top: 22px;
  left: 22px;

  &:hover, &:focus { background-position: 0 -63px; }
}
