
@import "config";

#home-button {
  position: absolute;
  width: 153px;
  height: 67px;
  background-image: image-url("buttons/home.png");
  background-repeat: no-repeat;
  top: $border-top-padding;
  left: $border-padding;
}