development: &defaults
  secret_token:
  airbrake_api_key:
  newrelic_license_key:
  postgres_username:
  postgres_password:
  pusher_app_id:
  pusher_key:
  pusher_secret:

test:
  <<: *defaults

production:
  <<: *defaults
