@import "config";

html {
  background: url("global/background-noise.jpg") repeat;
}

body {
  position: relative;
  width: 1024px;
  height: 768px;
  margin: 0 auto;
  overflow: hidden;
  background-image: image-url("global/grass-squares.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  font-family: sans-serif;
  -webkit-box-shadow: 0 0 50px 0px #030303;
  -moz-box-shadow:    0 0 50px 0px #030303;
  box-shadow:         0 0 50px 0px #030303;
}

.panable {
  width: 3 * $screen-width;
  height: 3 * $screen-height;
  background-image: image-url("global/grass-squares.jpg");
  background-repeat: repeat;
  background-position: center center;
  padding: $screen-height $screen-width;
}

.default-button {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid #666;
  border-radius: 18px;
  padding: 8px 18px;
  margin: 5px 7px;
  background-color: white;
  color: #333;
  text-decoration: none;

  &:hover { text-decoration: none; }
  &:active, &:focus { background-color: #cacaca; }
}
