body {
  width: 1024px;
  height: 768px;
  overflow: hidden;
  background-image: image-url("global/grass-squares.jpg");
  background-repeat: no-repeat;
  position: relative;
  font-family: sans-serif;
}

.default-button {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid #666;
  border-radius: 18px;
  padding: 8px 18px;
  margin: 5px 7px;
  background-color: white;
  color: #333;
}