body {
  width: 1024px;
  height: 768px;
  background-image: image-url("global/grass-squares.jpg");
  background-repeat: no-repeat;
  position: relative;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
}